.title {
    position: relative;
    margin: 70px;
    display: flex;
    justify-content: center;
}

.fullwrap {
    display: flex;
   width: 1200px;
   height: 560px;
   border: 2px solid rgb(169, 169, 169);
   margin: 0 auto;
   background: rgb(255, 255, 255);
}
.tovar1 {
    position: relative;
    width: 25%;
    height: 100%;
    border-right: 2px solid rgb(169, 169, 169);
}
.tovar2 {
    width: 25%;
    height: 100%;
    border-right: 2px solid rgb(169, 169, 169);
}
.tovar3 {
    position: relative;
    width: 25%;
    height: 100%;
    border-right: 2px solid rgb(169, 169, 169);
}
.tovar4 {
    position: relative;
    width: 25%;
    height: 100%;
}
.name {
    position: relative;
    display: flex;
    width: 90%;
    height: 110px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(169, 169, 169);
}
.name a{
    display: flex;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(169, 169, 169);
}
.foto1 {
    display: flex;
    width: 70%;
    height: 190px;
    margin: 0 auto;
    margin-top: 20px;
    background: url("https://content.rozetka.com.ua/goods/images/big/229667634.jpg") no-repeat center center / cover;
}
.foto2 {
    display: flex;
    width: 70%;
    height: 190px;
    margin: 0 auto;
    margin-top: 20px;
    background: url("https://content.rozetka.com.ua/goods/images/big/231460859.jpg") no-repeat center center / cover;
}
.foto3 {
    display: flex;
    width: 70%;
    height: 190px;
    margin: 0 auto;
    margin-top: 20px;
    background: url("https://content.rozetka.com.ua/goods/images/big/259787808.jpg") no-repeat center center / cover;
}
.foto4 {
    display: flex;
    width: 70%;
    height: 190px;
    margin: 0 auto;
    margin-top: 20px;
    background: url("https://content2.rozetka.com.ua/goods/images/big/262460337.jpg") no-repeat center center / cover;
}
.tov{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}
.tov a{
    position: relative;
    top: 10px;
    display: flex;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(24, 167, 224);
}
.prise {
    position: relative;
    top: 10px;
    display: flex;
    width: 70%;
    height: 50px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.prise p {
    font-size: 15px;
    font-weight: bold;
}
.vid {
    position: relative;
    top: 20px;
    display: flex;
    background-color: blueviolet;
    width: 60%;
    height: 50px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.dost {
    position: relative;
    top: 20px;
    display: flex;
    background-color: rgb(236, 240, 2);
    width: 60%;
    height: 50px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.vid a {
   
    display: flex;
   padding-left: 30%;
   padding-right: 30%;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.dost a {

    display: flex;
    padding: 20px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.stiker_new p {
  position: relative;
  top: 17px;
}
.stiker_hit p {
    position: relative;
  top: 7px;
}
.stiker {
    position: absolute;
    right: 10px;
    top: -45px;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    border: 4px solid #fff;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
}
.stiker_new {
    background: green;
}
.stiker_hit {
    background: blue;
}
.arrow {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid rgb(169, 169, 169);
    text-align: center;
    justify-content: center;
    background: #fff;
    color: rgb(169, 169, 169);
    font-size: 25px;
    font-weight: bold;
}
.arrow_left {
    position: absolute;
    left: -34px;
    top: 90px;
}
.arrow_right {
    position: absolute;
    right: -34px;
    top: 90px;
}
.arrow p {
    position: relative;
    bottom: 21px;
}
.next p  {
    margin-left: 80px;
    font-weight: bold;
    color: #ccc;
    font-size: 18px;
    display: inline-block;
    padding: 20px 260px;
    text-decoration: none; 
}
a.btns{ 
  display: inline-block;
  background-color: #9720a7;
  color: #fff;
  padding: 7px 30px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
}
